<p id="notice"><%= notice %></p>

<h1>Hoenns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type 1</th>
      <th>Type 2</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hoenns.each do |hoenn| %>
      <tr>
        <td><%= hoenn.name %></td>
        <td><%= hoenn.type_1 %></td>
        <td><%= hoenn.type_2 %></td>
        <td><%= hoenn.height %></td>
        <td><%= hoenn.weight %></td>
        <td><%= hoenn.description %></td>
        <td><%= link_to 'Show', hoenn %></td>
        <td><%= link_to 'Edit', edit_hoenn_path(hoenn) %></td>
        <td><%= link_to 'Destroy', hoenn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hoenn', new_hoenn_path %>
