<p id="notice"><%= notice %></p>

<h1>ホウエン地方</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>タイプ1</th>
      <th>タイプ2</th>
      <th>高さ</th>
      <th>重さ</th>
      <th>説明</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hoenns.each do |hoenn| %>
      <tr>
        <td><%= hoenn.name %></td>
        <td><%= hoenn.type_1 %></td>
        <td><%= hoenn.type_2 %></td>
        <td><%= hoenn.height %></td>
        <td><%= hoenn.weight %></td>
        <td><%= hoenn.description %></td>
        <td><%= link_to '詳細', hoenn %></td>
        <td><%= link_to '編集', edit_hoenn_path(hoenn) %></td>
        <td><%= link_to '削除', hoenn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいポケモンを登録する', new_hoenn_path %>

<%= link_to 'ホーム', home_index_path %>
