<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hoenn.name %>
</p>

<p>
  <strong>Type 1:</strong>
  <%= @hoenn.type_1 %>
</p>

<p>
  <strong>Type 2:</strong>
  <%= @hoenn.type_2 %>
</p>

<p>
  <strong>Height:</strong>
  <%= @hoenn.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @hoenn.weight %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hoenn.description %>
</p>

<%= link_to 'Edit', edit_hoenn_path(@hoenn) %> |
<%= link_to 'Back', hoenns_path %>
