<p id="notice"><%= notice %></p>

<h1>カロス地方</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>タイプ1</th>
      <th>タイプ2</th>
      <th>高さ</th>
      <th>重さ</th>
      <th>説明</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kalos.each do |kalo| %>
      <tr>
        <td><%= kalo.name %></td>
        <td><%= kalo.type_1 %></td>
        <td><%= kalo.type_2 %></td>
        <td><%= kalo.height %></td>
        <td><%= kalo.weight %></td>
        <td><%= kalo.description %></td>
        <td><%= link_to '詳細', kalo %></td>
        <td><%= link_to '編集', edit_kalo_path(kalo) %></td>
        <td><%= link_to '削除', kalo, method: :delete, data: { confirm: '削除してもいいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいポケモンを登録する', new_kalo_path %>

<%= link_to 'ホーム', home_index_path %>
