<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kalo.name %>
</p>

<p>
  <strong>Type 1:</strong>
  <%= @kalo.type_1 %>
</p>

<p>
  <strong>Type 2:</strong>
  <%= @kalo.type_2 %>
</p>

<p>
  <strong>Height:</strong>
  <%= @kalo.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @kalo.weight %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kalo.description %>
</p>

<%= link_to 'Edit', edit_kalo_path(@kalo) %> |
<%= link_to 'Back', kalos_path %>
