<p id="notice"><%= notice %></p>

<h1>カントー地方</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>タイプ1</th>
      <th>タイプ2</th>
      <th>高さ</th>
      <th>重さ</th>
      <th>説明</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kantos.each do |kanto| %>
      <tr>
        <td><%= kanto.name %></td>
        <td><%= kanto.type_1 %></td>
        <td><%= kanto.type_2 %></td>
        <td><%= kanto.height %></td>
        <td><%= kanto.weight %></td>
        <td><%= kanto.description %></td>
        <td><%= link_to '詳細', kanto %></td>
        <td><%= link_to '編集', edit_kanto_path(kanto) %></td>
        <td><%= link_to '削除', kanto, method: :delete, data: { confirm: '削除してもいいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいポケモンを登録する', new_kanto_path %>

<%= link_to 'ホーム', home_index_path %>