<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kanto.name %>
</p>

<p>
  <strong>Type 1:</strong>
  <%= @kanto.type_1 %>
</p>

<p>
  <strong>Type 2:</strong>
  <%= @kanto.type_2 %>
</p>

<p>
  <strong>Height:</strong>
  <%= @kanto.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @kanto.weight %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kanto.description %>
</p>

<%= link_to 'Edit', edit_kanto_path(@kanto) %> |
<%= link_to 'Back', kantos_path %>
