<p id="notice"><%= notice %></p>

<h1>シンオウ地方</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>タイプ1</th>
      <th>タイプ2</th>
      <th>高さ</th>
      <th>重さ</th>
      <th>説明</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sinnohs.each do |sinnoh| %>
      <tr>
        <td><%= sinnoh.name %></td>
        <td><%= sinnoh.type_1 %></td>
        <td><%= sinnoh.type_2 %></td>
        <td><%= sinnoh.height %></td>
        <td><%= sinnoh.weight %></td>
        <td><%= sinnoh.description %></td>
        <td><%= link_to '詳細', sinnoh %></td>
        <td><%= link_to '編集', edit_sinnoh_path(sinnoh) %></td>
        <td><%= link_to '削除', sinnoh, method: :delete, data: { confirm: '削除してもいいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいポケモンを登録する', new_sinnoh_path %>

<%= link_to 'ホーム', home_index_path %>