<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @sinnoh.name %>
</p>

<p>
  <strong>タイプ1:</strong>
  <%= @sinnoh.type_1 %>
</p>

<p>
  <strong>タイプ2:</strong>
  <%= @sinnoh.type_2 %>
</p>

<p>
  <strong>高さ:</strong>
  <%= @sinnoh.height %>
</p>

<p>
  <strong>重さ:</strong>
  <%= @sinnoh.weight %>
</p>

<p>
  <strong>説明:</strong>
  <%= @sinnoh.description %>
</p>

<%= link_to '編集', edit_sinnoh_path(@sinnoh) %> |
<%= link_to '戻る', sinnohs_path %>
