<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @unova.name %>
</p>

<p>
  <strong>タイプ1:</strong>
  <%= @unova.type_1 %>
</p>

<p>
  <strong>タイプ2:</strong>
  <%= @unova.type_2 %>
</p>

<p>
  <strong>高さ:</strong>
  <%= @unova.height %>
</p>

<p>
  <strong>重さ:</strong>
  <%= @unova.weight %>
</p>

<p>
  <strong>説明:</strong>
  <%= @unova.description %>
</p>

<%= link_to '編集', edit_unova_path(@unova) %> |
<%= link_to '戻る', unovas_path %>
