<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unova.name %>
</p>

<p>
  <strong>Type 1:</strong>
  <%= @unova.type_1 %>
</p>

<p>
  <strong>Type 2:</strong>
  <%= @unova.type_2 %>
</p>

<p>
  <strong>Height:</strong>
  <%= @unova.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @unova.weight %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unova.description %>
</p>

<%= link_to 'Edit', edit_unova_path(@unova) %> |
<%= link_to 'Back', unovas_path %>
