<p id="notice"><%= notice %></p>

<h1>ガラル地方</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>タイプ1</th>
      <th>タイプ2</th>
      <th>高さ</th>
      <th>重さ</th>
      <th>説明</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @galars.each do |galar| %>
      <tr>
        <td><%= galar.name %></td>
        <td><%= galar.type_1 %></td>
        <td><%= galar.type_2 %></td>
        <td><%= galar.height %></td>
        <td><%= galar.weight %></td>
        <td><%= galar.description %></td>
        <td><%= link_to '詳細', galar %></td>
        <td><%= link_to '編集', edit_galar_path(galar) %></td>
        <td><%= link_to '削除', galar, method: :delete, data: { confirm: '削除してもいいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいポケモンを登録する', new_galar_path %>

<%= link_to 'ホーム', home_index_path %>
