<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @galar.name %>
</p>

<p>
  <strong>タイプ1:</strong>
  <%= @galar.type_1 %>
</p>

<p>
  <strong>タイプ2:</strong>
  <%= @galar.type_2 %>
</p>

<p>
  <strong>高さ:</strong>
  <%= @galar.height %>
</p>

<p>
  <strong>重さ:</strong>
  <%= @galar.weight %>
</p>

<p>
  <strong>説明:</strong>
  <%= @galar.description %>
</p>

<%= link_to '編集', edit_galar_path(@galar) %> |
<%= link_to '戻る', galars_path %>
