<p id="notice"><%= notice %></p>

<h1>ジョウト地方</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>タイプ1</th>
      <th>タイプ2</th>
      <th>高さ</th>
      <th>重さ</th>
      <th>説明</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @johtos.each do |johto| %>
      <tr>
        <td><%= johto.name %></td>
        <td><%= johto.type_1 %></td>
        <td><%= johto.type_2 %></td>
        <td><%= johto.height %></td>
        <td><%= johto.weight %></td>
        <td><%= johto.description %></td>
        <td><%= link_to '詳細', johto %></td>
        <td><%= link_to '編集', edit_johto_path(johto) %></td>
        <td><%= link_to '削除', johto, method: :delete, data: { confirm: '削除してもいいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいポケモンを登録する', new_johto_path %>

<%= link_to 'ホーム', home_index_path %>
