<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @johto.name %>
</p>

<p>
  <strong>Type 1:</strong>
  <%= @johto.type_1 %>
</p>

<p>
  <strong>Type 2:</strong>
  <%= @johto.type_2 %>
</p>

<p>
  <strong>Height:</strong>
  <%= @johto.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @johto.weight %>
</p>

<p>
  <strong>Description:</strong>
  <%= @johto.description %>
</p>

<%= link_to 'Edit', edit_johto_path(@johto) %> |
<%= link_to 'Back', johtos_path %>
