<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @johto.name %>
</p>

<p>
  <strong>タイプ1:</strong>
  <%= @johto.type_1 %>
</p>

<p>
  <strong>タイプ2:</strong>
  <%= @johto.type_2 %>
</p>

<p>
  <strong>高さ:</strong>
  <%= @johto.height %>
</p>

<p>
  <strong>重さ:</strong>
  <%= @johto.weight %>
</p>

<p>
  <strong>説明:</strong>
  <%= @johto.description %>
</p>

<%= link_to '編集', edit_johto_path(@johto) %> |
<%= link_to '戻る', johtos_path %>
